.counter {
  font-size: 55px;
  text-box: trim-both cap alphabetic;
  letter-spacing: -3.3px;
  padding-top: 20px;
  font-weight: 500;
  height: 100%;
}
.card {
  width: 100%;
  padding: 20px 35px;
  height: 100%;
  min-height: 383px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  border-radius: 20px;
  color: white;
}
@media (max-width: 768px) {
  .card {
    border-radius: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 90px;
    min-height: 0px;
  }
  .counter {
    padding-top: 0;
    margin-bottom: 50px;
  }
}
